<md-dialog aria-label="Contact Details">
  <md-content class="md-no-momentum">
    <md-input-container class="md-icon-float md-block">
      <label>Name</label>
      <md-icon md-svg-src="images/ic_person_24px.svg" class="name"></md-icon>
      <input ng-model="user.name" type="text" required>
    </md-input-container>

    <md-input-container md-no-float class="md-block">
      <md-icon md-svg-src="images/ic_phone_24px.svg"></md-icon>
      <input ng-model="user.phone" type="number" placeholder="Phone Number" required>
    </md-input-container>

    <md-input-container md-no-float class="md-block">
      <input ng-model="user.address" type="text" required placeholder="Address">
      <md-icon md-svg-src="images/ic_place_24px.svg" style="display:inline-block;"></md-icon>
    </md-input-container>

    <div>
      <md-button type="submit" ng-click="addContact(user)">Submit</md-button>
    </div>

  </md-content>
</md-dialog>
